﻿body {
    padding: 0;
    background: url('../images/bg3.jpg') no-repeat fixed;
    background-size: cover;
    padding-top: 130px;
    margin-top: -130px;
}

#nav .navbar {
    margin-bottom: 0px;
}

#nav .navbar.navbar-fixed-top {
    margin: 0px;
    position: fixed;
}

#nav .navbar .navbar-inner {
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    -webkit-box-shadow: 0px 5px 8px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 5px 8px rgba(0,0,0,.2);
    box-shadow: 0px 5px 8px rgba(0,0,0,.2);
}

#nav .navbar .btn-navbar {
    margin-top: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav .navbar li {
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav .navbar a.brand {
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: none;
    color: #fff;
    font-size: 32px;
    font-family: 'Droid Serif';
    font-weight: 400;
}

#nav .navbar a.brand span {
    color: #ffbf34;
}

#nav .nav li a {
    font-weight: normal;
}

#nav .nav li.active a {
    color: #ffffff;
    text-shadow: none;
    font-weight: bold;
}

#nav .navbar .container {
}

.container {
}

#header {
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;
}

#header .row {
    margin-top: 40px;
    margin-bottom: 10px;
}

#header .logo h1 {
    color: #fff;
    font-size: 50px;
    line-height: 52px;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
}

#header .logo p {
    color: #f9daa9;
    font-size: 31px;
    line-height: 32px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
}

#footer .row {
    color: #999;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
    padding-bottom: 5px;
}

#days, #hours, #minutes, #seconds {
    -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 5px 15px rgba(0,0,0,.4);
    box-shadow: 0px 5px 15px rgba(0,0,0,.4);
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#days, #hours, #minutes, #seconds,
#facebook-page, #twitter-page, #googleplus-page, #pinterest-page, #youtube-page, #vimeo-page {
    min-height: 140px;
    line-height: 140px;
}

#facebook-page, #twitter-page, #googleplus-page, #pinterest-page, #youtube-page, #vimeo-page {
    cursor: pointer;
}


#days {
    background: #009000;
}

#hours {
    background: #009aac;
}

#minutes {
    background: #603cbb;
}

#seconds {
    background: #a100a8;
}

#days, #hours, #minutes, #seconds {
    text-align: center;
}

#days p, #hours p, #minutes p, #seconds p {
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Abel';
}

#countdown .row-style div[class*="span"],
#about .row-style div[class*="span"],
#subscribe .row-style div[class*="span"],
#team .row-style div[class*="span"],
#social .row-style div[class*="span"] {
    margin-top: 40px;
    margin-bottom: 40px;
}

#contact .row-style {
    margin-top: 40px;
    margin-bottom: 40px;
}


.row-style p {
    padding: 0px;
    margin: 0px;
}

#facebook-page {
    background: #3b5999 url('../images/facebook.png') no-repeat center;
}

#twitter-page {
    background: #00bbf5 url('../images/twitter.png') no-repeat center;
}

#googleplus-page {
    background: #252223 url('../images/googleplus.png') no-repeat center;
}

#pinterest-page {
    background: #f13434 url('../images/pinterest.png') no-repeat center;
}

#youtube-page {
    background: #fe4c4c url('../images/youtube.png') no-repeat center;
}

#vimeo-page {
    background: #5dc8ff url('../images/vimeo.png') no-repeat center;
}

#about h3, #team h3 {
    font-size: 48px;
    line-height: normal;
    font-weight: normal;
    font-family: 'Open Sans';
    color: #fff;
    padding-bottom: 5px;
}

#about p, #team p, #about, #team, #contact {
    color: #fff;
    font-size: 13px;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 24px;
    padding: 8px;
    margin: 0px;
    text-align: center;
}

#about {
    background: rgba(0,0,0, 0.60);
}

#team {
    background: rgba(0,0,0, 0.60);
}

#contact {
    background: rgba(0,0,0, 0.60);
}

#subscribe {
    background: rgba(0,0,0, 0.60);
}

#social, #footer {
    background: rgba(0,0,0, 0.60);
}

#countdown, #header, #subscribe {
    position: relative;
}

#header-section {
    background: rgba(0,0,0, 0.50);
}

.bg-pattern {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAMSURBVBhXY4AAhjMAANUAzUoX6YsAAAAASUVORK5CYII=');
    width: 100%;
    position: relative;
}

#subscribe {
    padding: 50px 0;
}

#parallax-section-1, #parallax-section-2, #parallax-section-3 {
    position: relative;
}

#bg1 {
    background: url('../images/p-bg1.jpg') no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

#bg2 {
    background: url('../images/p-bg2.jpg') no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

#bg3 {
    background: url('../images/p-bg3.jpg') no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.subscribe-container {
    padding: 15px 8px 0px 8px;
    color: #fff;
    font-size: 13px;
    font-family: 'Open Sans';
}

#frm_subscribe {
    line-height: normal;
}

#frm_subscribe label {
    color: #fff;
    font-size: 18px;
    clear: both;
}

#frm_subscribe .input-subscribe {
    height: 35px;
    float: left;
    border-radius: 0;
    font-size: 12px;
    margin: 1px 0px;
}

.btn-submit {
    height: 35px;
    float: left;
    border: solid 1px #a0d9a0;
    background: #a0d9a0;
    width: 80px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 11px;
    margin: 1px 0px;
}

#btnSend {
    min-width: 80px;
}

.our-team small {
    color: #fff;
    line-height: 14px;
    padding: 0px 0px 10px 0px;
    display: block;
}

.our-team .team-member {
    padding: 0px;
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,.4);
    box-shadow: 0px 5px 10px rgba(0,0,0,.4);
    max-width: 240px;
    margin: 0px auto;
}

.team-member span {
    display: block;
    background: #3b5999;
    color: #fff;
    max-width: 240px;
    line-height: 20px;
    margin: 0 auto;
}

.team-member span.name {
    font-size: 13px;
}

.team-member span.desig {
    font-size: 11px;
    padding-bottom: 3px;
}

#contact-us h3 {
    font-size: 48px;
    line-height: normal;
    font-weight: normal;
    font-family: 'Open Sans';
    color: #fff;
    padding: 8px;
    margin: 0px;
    padding-bottom: 5px;
    text-align: center;
}

#contact-us {
    color: #fff;
    font-family: 'Open Sans';
}

#contact_form {
    padding-top: 20px;
    font-size: 13px;
    font-weight: 300;
    max-height: none;
    padding-bottom: 10px;
}

#contact-us #form_contact_us, #contact-us #address-content {
    padding: 5px;
    text-align: left;
}

#contact-us .contact-address {
    font-size: 16px;
    line-height: 20px;
}

#contact-us .contact-address h5 {
    margin: 14px 0px 10px 0px;
    padding: 0px 0px 5px 0px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 18px;
    color: #a0d9a0;
    border-bottom: solid 1px #a0d9a0;
}

#contact-us .contact-address strong {
    font-family: 'Roboto Condensed';
    font-weight: 700;
}

#contact-us .contact-address p {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    letter-spacing: 1px;
}

label.error {
    color: #fff;
    background: #cc0000;
    font-size: 11px;
    padding: 2px 5px;
    float: left;
    box-shadow: rgba(0,0,0, 0.2) 5px 5px 5px;
}

input.txt, .txt.error, textarea.txt {
    background: #fff;
    font-size: 12px;
    border-radius: 0;
}

textarea.txt, textarea.txt.error {
    height: 150px;
}

.in.fade.modal-backdrop {
    background: url('../img/pat.png') repeat;
    background-attachment: fixed;
}

#subscribe_modal {
    text-align: center;
    top: 40%;
}

@media (max-width: 480px) {
    .subscribe-container {
        padding: 0px 8px;
    }
}

@media (max-width: 980px) {
    .subscribe-container {
        padding: 0px 8px;
    }
}

.scrollblock {
    position: relative;
    overflow: hidden;
}